@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* .roboto-<uniquifier> {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.container {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    background-color: #eee;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.box {
    background-color: #ddd;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    overflow: hidden;
}


.box .title {
    font-weight: 800;
    font-size: 1.1rem;
    width: 100%;
    line-height: 1.2;
}

.box .colorHexCode {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.85rem;
    text-wrap: nowrap;


}

.btn {
    cursor: pointer;
    padding: 5px 15px;
    border: 1px solid;
    border-radius: 3px;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all ease-in-out 30ms;
}

#Randomize {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 80px;
    height: 60px;
}